@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);




.info {
  color: white;
  font-family: 'New Tegomin', serif;
  text-align: center;
}

.info a{
  color: white;
}

svg{
  width: 600px;
  height: 140px;
  display: block;
  position: relative;
  overflow: hidden; 
  margin: 0 auto;
  background: black;
}